@use 'sub-modules/mixin' as m;

.footer ul {
    @include m.inline-list();
    li {
        background-color: red;
        padding: 0.4em;
        a {
            color: white;
            text-decoration: none;
        }
    }
}
